@import './globals.css';
@import './window.css';

/* Ensure custom window frame is transparent */
.window-frame {
  background-color: transparent !important;
}

.glass {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  line-height: 1.4;
}
